<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_06_ARALIK_2012_PERŞEMBE.Properties.Settings.ogConnectionString"
            connectionString="Data Source=PC\PC14;Initial Catalog=og;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>